<div class="container">
  <div class="row">
    <div class="info col-12">
     <h2 class="d-flex align-items-center justify-content-center">About</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4 class="d-flex align-items-center justify-content-center">ながのCAKEは〜<br />です</h4>
    </div>
  </div>
</div>