<div class="container">
  <div class="row">
    <div class="info col-12">
     <h2 class="d-flex align-items-center justify-content-center">About</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4 class="d-flex align-items-center justify-content-center">
      ながのCAKEは全国発送可能なケーキ屋さんです。</h4>
      <h4 class="d-flex align-items-center justify-content-center">
      お子様からお年寄りの方までお召し上がりいただけるよう</h4>
      <h4 class="d-flex align-items-center justify-content-center">
      様々なバリエーションをご用意しております。</h4>
      <h4 class="d-flex align-items-center justify-content-center">
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</h4>
      <h4 class="d-flex align-items-center justify-content-center">
      ぜひご注文ください。</h4>
    </div>
  </div>
</div>