<div class="container">
  <div class="row">
    <div class="info col-4">会員一覧</div>
  </div>
  <table class="custmer-index table table-bordered">
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
    <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%=link_to  customer.full_name, admin_customer_path(customer.id) %></td>
      <td><%= customer.email %></td>
      <td>
        <% if customer.is_active %>
         <span class="text-success">有効</span>
        <% else %>
         <span class="text-secondary">無効</span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
  <div class="row">
    <div class="clo-12">
     <%= paginate @customers %>
    </div>
  </div>
</div>