<h2>ジャンル一覧</h2>
<div class="container">
  <%= form_with model: @genre do |f| %>
  <div class="row">
    <div class="col-4 bg-primary">ジャンル一覧・追加</div>
  </div>
  <div class="row">
    <div class="col-3">ジャンル名</div>
    <div class="col-1"></div>
    <div class="col-3"><%= f.text_field :name, class: "form-control"%></div>
    <div class="col-3"><%= link_to '新規登録', admin_genres_path, class: "btn btn-success" %></div>
  </div>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <table class="table table-bordered">
      <tr>
        <th>ジャンル</th>
        <% @genres.each do |genre| %>
        <th><%= genre.name %></th>
        <% end %>
      </tr>
    </table>
  </div>
</div>

