<div class="genre">
      <table class="genre-table table-bordered">
        <tr>
          <th>ジャンル検索</th>
        </tr>
        <tr>
          <% @genres.each do |genre| %>
          <td>
            <%= genre.name %>
          </td>
        </tr>
        <% end %>
      </table>
</div>